<!doctype html>
<html>
<head>
	<title>gmwiki</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class=actionbar>
	{% if 'edit' in nav %}
	<a href="?edit">edit</a>
	{% endif %}
	{% if 'logout' in nav %}
	<a href="{{ url_for('logout') }}">logout</a>
	{% endif %}
	{% if 'login' in nav %}
	<form action="{{ url_for('login') }}" method=post>
		<input type=text name=user placeholder=username />
		<input type=password name=password placeholder=password />
		<input type=submit value="»" />
	</form>
	{% endif %}
</header>
<div class=page>
	{% block body %}{% endblock %}
</div>

<!--
<footer>
	Powered by <a href="https://github.com/lkiesow/bitbucket-pullrequest-filter">bitbucket-pullrequest-filter</a>
</footer>
-->

</body>
</html>
